@font-face {
	font-family: keepcalm;
	src: url('../font/font-styles/KeepCalm.ttf');
}

@font-face {
	font-family: hellochristmas;
	src: url('../font/font-styles/HelloChristmas.ttf');
}

body {
	/*font-family: proxima-nova, sans-serif;*/
	font-family: "Lato", sans-serif;
	font-weight: 400;
	/*background: url('../image/b1.jpg');*/
}

#about-body {
	background-image: url('../image/b2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

#home-body {
	background: url('../image/b1.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	text-align: center;
}

.navbar-bg-dark {
	background: rgba(0,0,0,.8);
}

.right-brand {
	margin-right: 30px;
	background: yellow;
}

.right-brand a {
	color: black;
	cursor: initial;
	font-weight: bold;
}

.right-brand a:hover {
	color: black;
}

.footer-fixed-bottom {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	text-align: center;
	color: #fff;
	padding: 14px 0px 14px 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 50px;
  overflow: hidden;
  /*background-color: #333;*/
  text-align: center;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  /*background-color: #111;*/
  color: yellow;
}

.text-center {
	text-align: center;
}

.landing {
	font-family: keepcalm;
	font-weight: 400;
	font-size: 25pt;
	font-family: keepcalm;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
	background: rgba(0,0,0,.5);
}

.landing .landing-container {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

/*.landing-container img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	padding-bottom: 0;
}*/

.landing-container h1 {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.landing-container p {
	margin: 0px;
	padding: 0px;
	color: white;
	font-size: 16pt;
	font-family: "Lato", sans-serif;
}

.landing-container h1 span {
	-webkit-text-stroke-width: .1px;
	-webkit-text-stroke-color: yellow;
	color: transparent;
	padding-top: 0;
}